/.vs/bank-objects/v15/.suo
/.vs/bank-objects/v15/sqlite3/storage.ide
/ClassLibrary1/bin/Debug/netcoreapp2.0/ClassLibrary1.deps.json
/ClassLibrary1/obj/ClassLibrary1.csproj.nuget.cache
/ClassLibrary1/obj/ClassLibrary1.csproj.nuget.g.props
/ClassLibrary1/obj/ClassLibrary1.csproj.nuget.g.targets
/ClassLibrary1/obj/DatabaseContext.csproj.nuget.cache
/ClassLibrary1/obj/DatabaseContext.csproj.nuget.g.props
/ClassLibrary1/obj/DatabaseContext.csproj.nuget.g.targets
/ClassLibrary1/obj/Debug/netcoreapp2.0/ClassLibrary1.AssemblyInfo.cs
/ClassLibrary1/obj/Debug/netcoreapp2.0/ClassLibrary1.AssemblyInfoInputs.cache
/ClassLibrary1/obj/Debug/netcoreapp2.0/ClassLibrary1.csproj.CoreCompileInputs.cache
/ClassLibrary1/obj/Debug/netcoreapp2.0/ClassLibrary1.csproj.FileListAbsolute.txt
/ClassLibrary1/obj/Debug/netcoreapp2.0/ClassLibrary1.csprojResolveAssemblyReference.cache
/ClassLibrary1/obj/Debug/netcoreapp2.0/DatabaseContext.AssemblyInfo.cs
/ClassLibrary1/obj/Debug/netcoreapp2.0/DatabaseContext.AssemblyInfoInputs.cache
/ClassLibrary1/obj/Debug/netcoreapp2.0/DatabaseContext.csproj.CoreCompileInputs.cache
/ClassLibrary1/obj/project.assets.json
/DatabaseContext/bin/Debug/netcoreapp2.0/DatabaseContext.deps.json
/DatabaseContext/obj/DatabaseContext.csproj.nuget.cache
/DatabaseContext/obj/DatabaseContext.csproj.nuget.g.props
/DatabaseContext/obj/DatabaseContext.csproj.nuget.g.targets
/DatabaseContext/obj/Debug/netcoreapp2.0/DatabaseContext.AssemblyInfo.cs
/DatabaseContext/obj/Debug/netcoreapp2.0/DatabaseContext.AssemblyInfoInputs.cache
/DatabaseContext/obj/Debug/netcoreapp2.0/DatabaseContext.csproj.CoreCompileInputs.cache
/DatabaseContext/obj/Debug/netcoreapp2.0/DatabaseContext.csproj.FileListAbsolute.txt
/DatabaseContext/obj/Debug/netcoreapp2.0/DatabaseContext.csprojResolveAssemblyReference.cache
/DatabaseContext/obj/project.assets.json
/bank-objects/obj/Debug/netcoreapp2.0/bank-objects.AssemblyInfo.cs
/bank-objects/obj/Debug/netcoreapp2.0/bank-objects.AssemblyInfoInputs.cache
/bank-objects/obj/Debug/netcoreapp2.0/bank-objects.csproj.CoreCompileInputs.cache
/bank-objects/obj/bank-objects.csproj.nuget.cache
/bank-objects/obj/bank-objects.csproj.nuget.g.props
/bank-objects/obj/bank-objects.csproj.nuget.g.targets
/bank-objects/obj/project.assets.json
